@import "bootstrap";

body{line-height:1;height:100%;width:100%;color:DarkGreen;background:LightYellow;text-align:center;font-family:"Apercu Regular", Calibri, sans-serif;font-weight:normal;font-style:normal;margin:0;padding:50;}

li {
    text-align: center;
    color: green;
} 

p {
    text-align: left;
    
} 
h1 {
    text-align: center;
    font-size:  2em;
    color:DarkBlue;
} 